$bg-color: #cab38b
$main-text-color: #795d50
$sub-text-color: #8aa920
$link-color: #36a4b5

body
    font-family: 'Lato', sans-serif
    text-align: center
    background: $bg-color url(../img/tiling-bg.png)
    padding: 20px

h1
    color: $main-text-color
    font-style: italic
h2
    color: $sub-text-color
    font:
        size: 18px
        weight: normal
a
    color: $link-color

.wrapper
    background-color: white
    box-shadow: 2px 3px 6px #a7987e
    padding: 20px
    width: 60%
    margin: 0 auto
    img
        max-width: 100%