body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #cab38b;
  padding: 20px; }

h1 {
  color: #795d50;
  font-size: 30px;
  margin: 0 0 20px 0;
  padding: 0; }
  h1 span {
    color: #84aac3;
    font-style: italic; }

h2 {
  color: #8aa920;
  font-size: 18px;
  font-weight: normal; }

a {
  color: #36a4b5; }

.wrapper {
  background-color: white;
  box-shadow: 2px 3px 6px #a7987e;
  padding: 0 20px 20px 20px;
  width: 60%;
  margin: 0 auto; }
  .wrapper img {
    max-width: 100%; }

.intro {
  width: 653px;
  height: 247px;
  background: url(../img/kiguquest-bg.png);
  padding: 200px 0 0 20px;
  margin-left: 10px;
  position: relative; }
  .intro .char {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    opacity: 1;
    width: 130px;
    height: 208px;
    padding: 10px 5px 10px 8px;
    position: absolute;
    top: 200px;
    display: inline-block;
    border: solid 5px white;
      border-radius: 50px; }
    .intro .char.gal {
      left: 190px; }
    .intro .char.dude {
      left: 350px; }
    .intro .char:hover {
      border-color: #c9d9e4;
      cursor: pointer; }
    .intro .char.hide {
      border-color: rgba(0, 0, 0, 0);
      opacity: 0;
      -webkit-transition: opacity 0.5s ease; }
    .intro .char.central {
      left: 260px;
      border-color: rgba(0, 0, 0, 0);
      -webkit-transition: left 0.8s ease;
      z-index: 2; }
    .intro .char span {
      position: absolute;
      top: 9px;
      left: 9px;
      width: 130px;
      height: 103px;
      background: no-repeat; }
    .intro .char.dude span {
      top: 8px;
      left: 16px; }
    .intro .char.dude .light {
      background-image: url(../img/sprite-files/hair-m-light.png); }
    .intro .char.dude .med {
      background-image: url(../img/sprite-files/hair-m-med.png); }
    .intro .char.dude .dark {
      background-image: url(../img/sprite-files/hair-m-dark.png); }
    .intro .char.gal .light {
      background-image: url(../img/sprite-files/hair-f-light.png); }
    .intro .char.gal .med {
      background-image: url(../img/sprite-files/hair-f-med.png); }
    .intro .char.gal .dark {
      background-image: url(../img/sprite-files/hair-f-dark.png); }

.char-title {
  background-color: #84aac3;
  color: white;
  display: inline-block;
  width: 400px;
  padding: 10px 40px;
  border-radius: 50px;
  font-style: italic;
  font-size: 22px; }

ul.hairstyles {
  display: none;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0; }
  ul.hairstyles li {
    display: inline-block;
    padding: 10px 0;
    background: no-repeat;
      background-position: center;
      background-size: 80px;
    width: 100px;
    height: 60px;
    border: solid 5px white;
      border-radius: 25px; }
    ul.hairstyles li:hover {
      border-color: #c9d9e4;
      cursor: pointer; }
  ul.hairstyles.dude-hair .light {
    background-image: url(../img/sprite-files/hair-m-light.png); }
  ul.hairstyles.dude-hair .med {
    background-image: url(../img/sprite-files/hair-m-med.png); }
  ul.hairstyles.dude-hair .dark {
    background-image: url(../img/sprite-files/hair-m-dark.png); }
  ul.hairstyles.gal-hair .light {
    background-image: url(../img/sprite-files/hair-f-light.png); }
  ul.hairstyles.gal-hair .med {
    background-image: url(../img/sprite-files/hair-f-med.png); }
  ul.hairstyles.gal-hair .dark {
    background-image: url(../img/sprite-files/hair-f-dark.png); }

.character-name {
  display: none;
  font-size: 22px;
  padding: 5px 20px;
  border-radius: 25px;
  outline: none;
  margin-bottom: 30px; }

.button {
  display: inline-block;
  margin-left: 10px;
  background-color: #84aac3;
  color: white;
  border-radius: 25px;
  width: 100px;
  padding: 10px 0;
  cursor: pointer; }
